name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Rust no_std tests
      run: cd packed_struct_nostd_tests && cargo test --verbose
  
  build-cross:
    runs-on: ubuntu-latest
    needs: [build]

    strategy:
      fail-fast: false
      matrix:
        target: [aarch64-unknown-linux-gnu, arm-unknown-linux-gnueabihf, mips64-unknown-linux-gnuabi64, riscv64gc-unknown-linux-gnu ]

    steps:
    - uses: actions/checkout@v2
    - name: Install rust-embedded/cross
      run: cargo install cross
    - name: Cross-build
      run: cross build --target ${{ matrix.target }}
    - name: Cross-run tests
      run: cross test --target ${{ matrix.target }}